.btn {
  width: 150px;
  height: 50px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 18px;
  background-color: white;
}

.btn_beautiful {
  cursor: pointer;
  background-color: cadetblue;
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s linear;
  &:hover {
    background-color: aqua;
    box-shadow: 8px 8px 5px 0 rgba(0, 0, 0, 0.2);
  }
}

.box {
  height: 100px;
  width: 100px;
  background-color: greenyellow;
  &_active {
    background-color: purple;
  }
}
