.square{
    background-color: greenyellow;
    margin-top: 10px;
    height: 150px;
    width: 150px;
}

.circle{
    background-color: red;
    margin-top: 10px;
    height: 150px;
    width: 150px;
    border-radius: 200%;
}