.background{
    background-image: url("../img/background.png");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    padding: 19px 106px;
    background-color: rgba(0,0,0,0.4);
}

.main-topic{
    cursor: pointer;
    font-weight: bold;
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.main-topic:hover{
    color: #3CB878;;
}

.right-menu{
    float: right;
}

.clearfix{
    content: "";
    clear: both;
    display: table;
}

.registration-menu{
    margin-left: 50px;
}

.registration{
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin-right: 4px;
}

.mr-left{
    margin-left: 9px;
}

.link-log:hover{
    color: #3CB878;
    border-bottom: 1px solid #3CB878;

}

.link-sign:hover{
    color: #3CB878;
    border-bottom: 1px solid #3CB878;

}

.calendar{
    vertical-align: middle;
    display: inline-block;
    background-image: url("../img/css_sprites.png");
    background-position: -10px -50px;
    width: 19px;
    height: 19px;
    cursor: pointer;
}

.calendar:hover{
    background-position: -106px -50px;

}

.forum{
    display: inline-block;
    vertical-align: middle;

    background-image: url("../img/css_sprites.png");
    background-position: -10px -10px;
    width: 28px;
    height: 20px;
    margin-left: 28px;
    margin-right: 28px;
    cursor: pointer;

}

.forum:hover{
    background-position: -58px -10px;
}

.journey{
    vertical-align: middle;

    display: inline-block;
    background-image: url("../img/css_sprites.png");
    background-position: -50px -50px;
    width: 20px;
    height: 20px;
    margin-right: 38px;
    cursor: pointer;
}

.journey:hover{
    background-position: -106px -10px;
}

.sign-up-container{
    display: block;
    margin: 57px auto 0 auto;
    background-color: white;
    padding: 30px 60px 31px 60px;
    position: relative;
    width: 330px;
    border-radius: 8px;
}

.sign-up-menu{
    font-size: 20px;
    color: black;
}

.sign-up-menu::before{
    top: 30px;
    left: 0;
    margin-right:43px ;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #3CB878;;
    content: "";
    position: absolute;
}

.log-in-link{
    text-decoration: none;
    font-size: 14px;
    color: black;
    float: right;
}

.log-in-link:hover{
    color: #3CB878;
    border-bottom: 1px solid #3CB878;

}

.sign-up-buttons{
    margin-top: 18px;
    display: block;
    vertical-align: middle;
    margin-bottom: 29px;
}

.facebook-sign-up{
    text-decoration: none;
    display: inline-block;
    background-color: #305DB8;
    height: 48px;
    width: 160px;
}

.facebook-img{
    vertical-align: middle;
    display: inline-block;
    margin-left: 21px;
    margin-top: 14px;
}

.facebook-name{
    vertical-align: middle;
    margin-top: 14px;
    display: inline-block;
    margin-left: 38px;
    font-size: 16px;
    color: white;
}

.google-sign-up{
    text-decoration: none;
    margin-left: 4px;
    display: inline-block;
    background-color: #DF4A32;;
    height: 48px;
    width: 160px;

}

.google-img{
    vertical-align: middle;
    display: inline-block;
    margin-top: 18px;
    margin-left: 21px;
}

.google-name{
    vertical-align: middle;
    display: inline-block;
    font-size: 16px;
    color: white;
    margin-top: 17px;
    margin-left: 37px;
}

.registration-choice{
    font-size: 14px;
    text-align: center;
    color: #848484;
    position: relative;

}

.registration-choice::before{
    height: 1px;
    width: 40%;
    display: block;
    position: absolute;
    top: 8px;
    left: 14px;
    background-color: #848484;
    content: "";

}

.registration-choice::after{
    height: 1px;
    right: 14px;
    position: absolute;
    background-color: #848484;
    display: block;
    content: "";
    width: 40%;
    bottom: 7px;
}

.sign-up-form{
    margin-top: 16px;
}

.first-name{
    border-radius: 8px;
    margin-bottom: 16px;
    display: block;
    border: 1px solid #F2F2F2;
    padding-left: 18px;
}

.first-name:focus{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

.last-name{
    display: block;
    border-radius: 8px;
    border: 1px solid #F2F2F2;
    padding-left: 18px;

}

.last-name:focus{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

.email{
    margin-top: 9px;
    display: block;
    margin-bottom: 9px;
    border-radius: 8px;
    border: 1px solid #F2F2F2;
    padding-left: 18px;

}

.email:focus{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

.password{
    display: block;
    border-radius: 8px;
    border: 1px solid #F2F2F2;
    padding-left: 18px;

}

.password:focus{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

.confirm-password {
    border: 1px solid #F2F2F2;
    border-radius: 8px;
    display: block;
    margin-bottom: 18px;
    margin-top: 9px;
    padding-left: 18px;
}

.confirm-password:focus{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

.checkbox-container{
    cursor: pointer;
    position: relative;
}

.old-checkbox{
    display: inline-block;
    margin-bottom: 26px;
    height: 0;
    width: 0;
    opacity: 0;
    vertical-align: middle;
}

.checkbox{
    position: absolute;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 2px solid #F2F2F2;;
}

.old-checkbox:checked + .checkbox{
    background-color: white;
}

.checkbox::after{
    display: none;
    top: 2px;
    left: 6px;
    content: "";
    width: 7px;
    height: 12px;
    border-right: 2px solid green;
    border-bottom: 2px solid green;
    transform: rotate(45deg);
    position: absolute;
}

.old-checkbox:checked + .checkbox::after{
    display: block;
}

.checkbox-text{
    display: inline-block;
    vertical-align: middle;
    margin-left: 35px;
    font-size: 16px;
}

.checkbox-link{
    text-decoration: none;
    font-size: 16px;
    color: #3CB878;
}

.size{
    width: 324px;
    height: 48px;
}

.button{
    margin-top: 26px;
    width: 322px;
    height: 46px;
    background-color: #3CB878;;
    display: block;
    border-radius: 8px;
    border: 1px solid #F2F2F2;
    color: white;
}

.first-name::placeholder{
    color: #BEBEBE;
}

.last-name::placeholder{
    color: #BEBEBE;
}

.email::placeholder{
    color: #BEBEBE;
}

.password::placeholder{
    color: #BEBEBE;
}

.confirm-password::placeholder{
    color: #BEBEBE;
}
