.game-field{
    display: inline-block;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.row{
    display: flex;
}

.cell{
    position: relative;
    width: 100px;
    height: 100px;
    border-bottom: 1px solid black;

    border-right: 1px solid black;
    overflow: hidden;
}

.cell img{
    max-width: 100%;
}

.barrier{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 70%;

}