.logo-link1 {
    color: black;
    text-decoration: none;
    font-size: 80px;
    text-align: left;
}

.logo-link2{
    color: aqua;
    text-decoration: none;
    font-size: 80px;
}

.page-container{
    width: 1280px;
    margin: 0 auto;
    padding: 20px 40px;
}

.nav-bar1{
    display: block;
    background-color: #35444F;
    padding: 0 60px;
    margin-top: 40px;
    text-align: center;
}

.block-link1{
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.navbar-list-item{
    padding: 25px 39px;
    display: inline-block;
    border-left: 1px solid black;
}

.navbar-list-item{
    padding: 25px 39px;
    display: inline-block;
    border-left: 1px solid black;
}

.list1{
    list-style: none;
    line-height: normal;
    margin-bottom: 60px;
}

.list2{
    list-style: none;
    line-height: normal;
    display: inline-block;
    vertical-align: top;
    padding-left: 0;
    margin-top: 0;
    width: 344px;
}

.block-list-sides {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    padding: 42px 0px 42px 42px;
}

.block-list-top{
    border-left:1px solid #000000;
    border-right:1px solid #000000;
    border-top:1px solid #000000;
    padding: 42px 0px 42px 42px;
}

.block-list-bottom{
    border-left:1px solid #000000;
    border-right:1px solid #000000;
    border-bottom:1px solid #000000;
    padding: 42px 0px 42px 42px;
}


.block-link2{
    font-size: 26px;
    text-decoration: none;
    color:  #485863;
    text-align: left;
}

.picture-article{
    display: inline-block;
    margin-left: 52px;
    vertical-align: top;
    width: 850px;

}

.article{
    margin-top: 43px;
    text-align: center;
    display: block;
    font-size: 18px
}

.picture{
    display: inline-block;
    padding: 75px 268px 73px 297px;
    border:1px solid #000000;
}

.nav-bar-bottom{
    display: inline-block;
    width: 1280px;
}

.nav-bar-bottom-list{
    background-color: rgba(99, 105, 110, 0.48);

}
.nav-bar-bottom-item{
    display: inline-block;
    padding: 15px;
}

.bottom-link{
    font-size: 24px;
    text-decoration: none;
    color: #0C1927;

}

.bottom-link-copyright{
    font-size: 24px;
    text-decoration: none;
    color: #0C1927;
    margin-left: 100px;
}

.navbar-list-item:hover{
    background-color:  #222F3A;;
}

.block-list-top:hover{
    background-color: #DBDBDB;
    padding-left: 82px;
}

.block-list-sides:hover{
    background-color: #DBDBDB;
    padding-left: 82px;
}


.block-list-bottom:hover{
    background-color: #DBDBDB;
    padding-left: 82px;
}

.bottom-link:hover{
    color: #3181A6;
    border-bottom: 2px solid #3181A6;;
}