.nav {
    color: red;
    font-size: 42px;
    font-weight: normal;
}

.test {
    background-color: blue;
}

.list {
    list-style: none;
}

.list__item {
    font-size: 24px;
}

.list__item_red {
    color: red;
}

.list__item_scale {
    transform: scale(2);
}

.btn, .btn_green {
    font-size: 24px;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

.btn_green {
    background-color: green;
}
