.cards{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card{
    width: 250px;
    border: 1px solid lightgray;
    border-radius: 7px;
    padding: 15px;
    margin: 10px;
}

.card__title{
    font-size: 20px;
    font-weight: bold;
    display: block;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

.card__text{
    text-align: justify;
}