@import "./normalize";
@import "./mixins";
@import "./variables";

.btn {
  width: 100pz;
  height: 36px;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  margin-left: auto;
}

.dark-screen-container {
  @include flex-centre;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.modal {
  padding: 0 0 30px;
  box-sizing: $independent-width;
  width: 560px;
  margin: 0 auto 15px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  color: black;
  text-align: center;
  line-height: 2;
  position: relative;
  z-index: 101;

  &__header-section-text {
    margin: 0;
    font-size: 18px;
    color: white;

    text-align: left;
    padding: 10px 30px;
  }

  &__main-part-text {
    width: 500px;
    margin: 15px auto;
    color: white;
  }

  &__main-part-btns {
    margin: 0 auto;
    width: fit-content;
  }

  &__main-part-btn {
    color: white;
    border: none;
    width: 90px;
    height: 35px;
    text-align: center;
    box-sizing: border-box;
    font-weight: 700;
    margin-right: 10px;
    border-radius: 10px;
  }

  &__cross {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 15px;
    right: 10px;
  }

  &__cross::after,
  &__cross::before {
    content: "";
    display: block;
    width: 25px;
    height: 1.5px;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0;
    transform: rotate(45deg) translateY(-50%);
  }

  &__cross::before {
    transform: rotate(-45deg) translateY(-50%);
  }
}
