body{
    font-family: 'Open Sans', sans-serif;
}

.header-image{
    background-image: url("../img/background image header.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 460px;
    background-attachment: fixed;
    background-position: center;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #313131;
}

.header-padding{
    display: inline-block;
    padding: 30px 0 30px 25px;

}

.main-logo{
    display: inline-block;
    vertical-align: middle;
    padding: 28px;
}

.logo-name{
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
    color: white;
    margin-left: 15px;
}

.header-link{
    margin-right: 25px ;
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.header-link:hover{
    color: #14B9D5;
}

.mr-0{
    margin-right: 0;
}

.search-image{
    background-color: #000000;
    padding: 31px;
}

.news{
    text-align: center;
    margin-top: 127px;
    color: white;
    font-size: 27px;
    text-transform: uppercase;
}

.buttons-wrapper{
    margin-top: 44px;
    display: flex;
    justify-content: center;
}

.subscribe-button{
    margin-right: 20px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    background-color: #89CA62;
    padding: 16px 19px 16px 19px;
}

.best-article-button{
    text-decoration: none;
    color: white;
    font-size: 18px;
    background-color: #14B9D5;
    padding: 16px 30px 16px 30px;
}

.posts-background-color{
    background-color: #F2F2F2;
    padding-bottom: 72px;
}

.posts-wrapper{
    display: flex;
    justify-content: center;
}

.posts-article{
    padding-top: 49px;
    display: block;
    text-align: center;
    color: #18B4CF;
    font-size: 27px;
    text-transform: uppercase;
    margin-bottom: 52px;

}

.house-and-blossom-hotel{
    display: inline-block;
    vertical-align: top;
}

.house-container{
    display: block;
    background-color: white;
}

.house-image-text{
    text-align: center;
    padding: 22px 0;
    background-color: white;
    color: #353A3D;
    font-size: 18px;
    font-weight: bold;
}

.blossom-hotel-container{
    display: inline-block;
    margin-top: 31px;
}

.blossom-hotel-image-text{
    text-align: center;
    padding: 22px 0;
    background-color: white;
    color: #353A3D;
    font-size: 18px;
    font-weight: bold;
}

.hotel-and-sunset{
    display: inline-block;
    vertical-align: top;
}

.hotel-container{
    display: block;
    margin-left: 30px;
}

.hotel-image-text{
    text-align: center;
    padding: 22px 0;
    background-color: white;
    color: #353A3D;
    font-size: 18px;
    font-weight: bold;
}

.sunset-container{
    margin-top: 32px;
    display: inline-block;
    margin-left: 30px;
}

.sunset-image-text{
    text-align: center;
    padding: 22px 0;
    background-color: white;
    color: #353A3D;
    font-size: 18px;
    font-weight: bold;
}

.resort-and-france-hotel{
    display: inline-block;
    vertical-align: top;
}

.resort-container{
    margin-bottom: 28px;
    display: block;
    margin-left: 30px;
}

.resort-image-text{
    text-align: center;
    padding: 22px 0;
    background-color: white;
    color: #353A3D;
    font-size: 18px;
    font-weight: bold;
}

.france-hotel-container{
    vertical-align: top;
    display: inline-block;
    margin-left: 30px;
}

.france-hotel-image-text{
    text-align: center;
    padding: 22px 0;
    background-color: white;
    color: #353A3D;
    font-size: 18px;
    font-weight: bold;
}

.clients-background-image{
    background-image: url("../img/clients image.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
}

.clients-grid{
    padding: 106px 100px 190px 100px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 130px 109px 52px;
    /*grid-template-rows: 1fr 1fr 1fr 1fr;*/
}

.row-2-col-2-4{
    margin: 0 auto;
    grid-area: 2/2/3/4;
    width: 60px;
    height: 3px;
    background-color: #14B9D5;
}

.row-1-col-2-4{
    display: block;
    text-align: center;
    grid-column: 2/4;
    color: white;
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
}

.row-3-col-1{
    margin: auto;
    grid-area: 3/1/4/2;
}

.row-3-col-2{
    margin: auto;

    grid-area: 3/2/4/3;
}

.row-3-col-3{
    margin: auto;

    grid-area: 3/3/4/4;
}

.row-3-col-4{
    margin: auto;

    grid-area: 3/4/4/5;
}

.top-list{
    margin-top: 50px;
}

.list-header{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 27px;
    color: #18B4CF;
}

.top-places-list{
    overflow: hidden;
    margin-top: 52px;
    display: grid;
    grid-template: 190px/1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.col-1-row-1{
    grid-area: 1/1/2/2;
}

.col-2-row-1{
    grid-area: 1/2/2/3;
}

.col-3-row-1{
    grid-area: 1/3/2/4;
}

.col-4-row-1{
    grid-area: 1/4/2/5;
}

.col-5-row-1{
    grid-area: 1/5/2/6;
}

.col-6-row-1{
    grid-area: 1/6/2/7;
}

.hot-news{
    margin-top: 48px;
}

.news-header{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 27px;
    color: #18B4CF;
    margin-top: 48px;
}

.news-grid{
    grid-row-gap: 44px;
    grid-column-gap: 35px;
    margin-top: 50px;
    display: grid;
    justify-content: center;
    grid-template-columns: 277px 277px 277px 277px;
    grid-template-rows: 259px 413px 413px 259px;
}

.news-row-1-col-1-3{
    grid-area: 1/1/2/4;
    background: #F9F7F7;
}

.hotel-spa-image{
    vertical-align: middle;
}

.image-text{
    display: inline-block;
    vertical-align: middle;
    width: 44%;
    text-align: center;
}

.hotel-spa-image-header{
    display: block;
    color: #353A3D;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}

.hotel-spa-image-article{
    line-height: 21px;
    color: #5B6469;
    margin-left: 6px;
    font-size: 14px;
}

.col-1-row-4-5{
    background: #F9F7F7;
    grid-area: 1/4/2/5;
    text-align: center;
}

.spain-hotel-header{
    display: inline-block;
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #353A3D;
}

.news-row-2-col-1-3{
    grid-area: 2/1/3/3;
    background: #F9F7F7;
}

.egypt-image{
    width: 100%;
}

.egypt-image-text{
    margin-right: 14px;
    text-align: right;
}

.egypt-image-header{
    margin-top: 12px;
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 18px;
    color: #353A3D;

}

.egypt-image-article{
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}

.row-2-col-3-5{
    grid-area: 2/3/3/5;
    background: #F9F7F7;
}

.maldives-image{
    width: 100%;
}

.maldives-image-text{
    margin-right: 14px;
    text-align: right;
}

.maldives-image-header{
    margin-top: 12px;
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 18px;
    color: #353A3D;
}

.maldives-image-article{
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}

.row-3-col-1-3{
    grid-area: 3/1/4/3;
    background: #F9F7F7;
}

.tenerife-image{
    width: 100%;
}

.tenerife-image-text{
    margin-right: 14px;
    text-align: right;
}

.tenerife-image-header{
    margin-top: 12px;
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 18px;
    color: #353A3D;
}

.tenerife-image-article{
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}

.row-3-col-3-5{
    grid-area: 3/3/4/5;
    background: #F9F7F7;
}

.britain-image{
    width: 100%;
}

.britain-image-text{
    margin-right: 14px;
    text-align: right;
}

.britain-image-header{
    margin-top: 12px;
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 18px;
    color: #353A3D;
}

.britain-image-article{
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}

.col-4-row-1-2{
    grid-area: 4/1/5/2;
    background: #F9F7F7;
    text-align: center;
}

.ireland-image-header{
    display: inline-block;
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #353A3D;
}

.news-row-4-col-2-5{
    grid-area: 4/2/5/5;
    background: #F9F7F7;
}

.spain-image{
    vertical-align: middle;
}

.spain-image-text{
    display: inline-block;
    vertical-align: middle;
    width: 44%;
    text-align: center;
}

.spain-image-header{
    display: block;
    color: #353A3D;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}

.spain-image-article{
    line-height: 21px;
    color: #5B6469;
    margin-left: 6px;
    font-size: 14px;
}

.footer{
    margin-top: 71px;
    background-color: black;
    padding: 29px 115px 30px 115px;
}

.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-copyright{
    font-weight: normal;
    font-size: 13px;
    display: inline-block;
    vertical-align: center;
    color: #FFFFFF;
}

.footer-logo-container{
    justify-content: flex-end;
    display: flex;
    align-items: flex-start;
}

.footer-image{
    display: inline-block;
}

.footer-logo-name{
    font-size: 16px;
    display: inline-block;
    text-transform: uppercase;
    color: #FFFFFF;
}