@import "./normalize";
@import "./mixins";
@import "./variables";

.cards-container {
  @include flex-centre;
  flex-wrap: wrap;
  margin: auto;
  width: 1040px;
}

.card {
  margin: 20px;
  display: inline-block;
  border: 2px solid black;
  width: 220px;
  text-align: center;
  padding: 10px 25px;
  box-sizing: border-box;
  position: relative;

  &__star-container{
    display: flex;
    position: absolute;
    top: 3px;
    right: 3px;
  }

  &__star{
    display: none;

    &_active{
      fill: black;
    
    }
  }

  &__img {
    display: block;
    margin: auto;
    height: 150px;
    object-fit: cover;
  }

  &__name {
    font-size: 20px;
    margin: 10px 0;
  }

  &__color {
    margin-right: 25px;
    position: relative;

    &::after {
      content: "";
      width: 1px;
      height: 14px;
      background-color: black;
      position: absolute;
      top: 2px;
      right: -12px;
      transform: rotate(30deg);
    }
  }

  &__price-and-btn-wrapper {
    @include flex-centre;
    margin-top: 10px;
  }

  &__price {
    font-size: 16px;
    font-weight: 700;
  }
}

.btn {
  display: block;
  width: 76px;
  height: 26px;
  color: white;
  font-size: 14px;
  background-color: white;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  margin: 10px auto 0;
}

.dark-screen-container {
  @include flex-centre;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.modal {
  padding: 0 0 30px;
  box-sizing: $independent-width;
  width: 560px;
  margin: 0 auto 15px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  color: black;
  text-align: center;
  line-height: 2;
  position: relative;

  &__header-section-text {
    margin: 0;
    font-size: 18px;
    border-bottom: 2px solid;

    text-align: left;
    padding: 10px 30px;
  }

  &__main-part-text {
    width: 500px;
    margin: 15px auto;
  }

  &__main-part-btns {
    margin: 0 auto;
    width: fit-content;
  }

  &__main-part-btn {
    color: black;
    border: 2px solid black;
    width: 90px;
    height: 35px;
    text-align: center;
    box-sizing: border-box;
    font-weight: 700;
    margin-right: 10px;
    border-radius: 10px;
  }

  &__cross {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 15px;
    right: 10px;
  }

  &__cross::after,
  &__cross::before {
    content: "";
    display: block;
    width: 25px;
    height: 1.5px;
    background-color: black;
    position: absolute;
    top: 10px;
    right: 0;
    transform: rotate(45deg) translateY(-50%);
  }

  &__cross::before {
    transform: rotate(-45deg) translateY(-50%);
  }
}
