.image-to-show {
    width: 400px;
    height: 400px;
    object-fit: cover;
    display: none;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.toggle{
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: deepskyblue;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.active{
    display: block;
}
