body{
    background-color: black;
}

.star-wars-anim{
    margin: 0 auto;
    position: absolute;
    width: 600px;
    height: 1000px;
    right: 0;
    left: 0;
    transform: perspective(250px) rotateX(30deg) ;
    transform-origin: 50% 60%;
}

.anim-text{
    color: yellow;
    animation: star-wars 30s linear infinite;
    font-size: 36px;
    text-align: justify;
}

.central-part{
    display: block;
    text-align: center;
}

@keyframes star-wars{
    from {
        margin-top: 750px;
    }
    to {
        margin-top: 0;
    }
}

