.footer{
  display: none;
  padding: 47px 0;
  background-color: black;

  &__header{
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #FEFEFE;
  }

  &__article{
    text-align: center;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #B9B9B9;
    width: 302px;

    &_768_1200{
      display: none;
    }
  }

  &__icons-container{
    @include flex-center;
    margin-top: 25px;
  }

  &__link {
    margin-right: 6px;
    padding: 8px 13px;
    border: 2px solid;
    border-radius: 50%;

    &_rss {
      border-color: #F8902E;
    }

    &_facebook {
      border-color: #39599F;;
    }


    &_twitter {
      border-color: #45B0E3;
    }

    &_dribble {
      border-color: #D97AB0;
    }

    &_pinterest {
      border-color:  #CC212C;;
      margin-right: 0;
    }
  }

  &__contacts{
    text-align: center;
    position: relative;
    font-weight: normal;
    color: #B9B9B9;
    font-size: 14px;
    line-height: 24px;
    width: 202px;
    margin-top: 25px;

    &_pseudo::after{
      content: '';
      display: inline-block;
      height: 14px;
      width: 2px;
      background-color: #7C7C7C;
      transform: rotate(25deg);
      position: absolute;
      right: 16px;
      top: 28px;
    }
  }
}
