
.main-container{
  margin: auto;
  display: none;

  &__home-image{
    display: none;
    margin: auto;
  }

  &__posts-header{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: $main-text-color;
    margin-top: 38px;
  }
}

.posts-container{
  @include flex-center;
  flex-wrap: wrap;
  margin-top: 24px;

  &__content_mr_b{
    margin-bottom: 26px;
  }

  &__content_mr_b_instagram{
    margin-bottom: 26px;
  }

  &__header{
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: $main-text-color;
  }

  &__additional-text{
    font-weight: normal;
    font-size: 11px;
    line-height: 20px;
    align-items: center;
    color: $additional-text-color;
    position: relative;

    &_pseudo{
      margin-right: 12px;
    }
  }

  &__additional-text_pseudo::after {
    content: '';
    display: inline-block;
    height: 12px;
    width: 1px;
    background-color: #7C7C7C;
    transform: rotate(25deg);
    position: absolute;
    top: 1px;
    right: -8px;
  }

  &__article{
    display: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: $article-text-color;
  }

}

.instagram-wrapper{
  margin: auto;
  display: none;
  padding: 48px 0;

  &__text{
    font-size: 13px;
    margin-bottom: 13px;
    display: flex;
    justify-content: space-between;
  }

  &__header{
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: $main-text-color;
  }

  &__photos{
    width: 301px;
    height: 301px;
  }

  &__photos_mr_l{
    display: none;
    margin-left: 10px;
  }

}

