@media screen and (min-width: 320px)  {

  .main-container{
    width: 320px;
    @include flex-center;
    align-items: flex-start;
    flex-direction: column;

    &__home-image {
      display: block;
      width: 320px;
    }
  }

  .posts-container{
    width: 233px;
    &__header{
      display: block;
      font-size: 14px;
      margin-top: 10px;

    }
    &__content_mr_b_instagram{
      display: none;
    }
  }
  .instagram-wrapper {
    width: 320px;
    display: block;
    padding: 38px 0 42px;

    &__header_not_320 {
      display: none;
    }
  }
  .footer{
    @include flex-column-center;

    &__contacts_pseudo::after{
      box-shadow: 14px -31px #7C7C7C;
    }
  }
}

@media screen and  (min-width: 768px) {

  .main-nav {
    height: 106px;

    &__list {
      display: block;
    }
    &__links_mr_r {
      margin-right: 34px;
    }
  }
  .burger-menu {
    display: none;
  }


  .main-container{
    width: 768px;
    @include flex-center;
    align-items: flex-start;
    flex-direction: column;

    &__home-image {
      display: block;
      width: 768px;
    }

    &__posts-header{
      margin-top: 56px;
    }
  }

  .posts-container{
    width: 556px;

    &__content{
      display: flex;
      align-items: flex-start;
    }

    &__whole-text-wrapper{
      margin-left: 20px;
    }

    &__header{
      display: block;
    }

    &__article{
      display: block;
    }

    &__content_mr_b_instagram{
      margin-bottom: 32px;
    }
  }
  .instagram-background-color{
    background-color: rgba(0, 0, 0, 0.1);
  }

  .instagram-wrapper{
    width: 768px;
    display: block;

    &__header{

      font-size: 16px;
    }
    &__text{
      margin-bottom: 24px;
    }

    &__photos{
      width: 246px;
      height: 246px;
    }

    &__photos__720{
      display: inline-block;
    }
  }
  .footer{
    @include flex-column-center;

    &__header{
      font-size: 16px;
    }

    &__article{
      font-size: 16px;
      line-height: 28px;

      width: 684px;

      &_768_1200{
        display: inline-block;
        width: fit-content;
      }

    }

    &__contacts {
      margin-top: 34px;
      width: fit-content;
      font-size: 16px;
      line-height: 26px;

      &_pseudo{
        margin: 0 40px;
      }
      &_pseudo::after{
        right: 165px;
        top: 5px;
        box-shadow: -188px 89px #7C7C7C;
      }
    }

  }
}

@media screen and (min-width: 1200px) {
  .main-nav {
    height: 118px;

    &__list {
      display: block;
    }
  }

  .burger-menu {
    display: none;
  }

  .main-container{
    width: 1170px;
    @include flex-center;
    align-items: flex-start;
    flex-direction: column;

    &__home-image {
      display: block;
      width: 1170px;
    }


    &__posts-header{
      margin-top: 66px;
    }

  }
  .posts-container{
    width: 1170px;
    justify-content: flex-start;

    &__content{
      display: flex;
    }

    &__whole-text-wrapper{
      margin-left: 20px;
      display: inline-block;
    }

    &__header{
      display: block;
    }

    &__article{
      width: 404px;
      display: block;
    }

    &__content_mr_b_instagram{
      margin-bottom: 32px;
    }
  }
  .instagram-background-color{
    background-color: rgba(0, 0, 0, 0.1);
  }

  .instagram-wrapper{
    width: 1170px;
    display: block;

    &__header{
      font-size: 16px;
    }

    &__text{
      margin-bottom: 24px;
    }

    &__photos{
      width: 282px;
      height: 282px;
    }

    &__photos__720,
    &__photos__720__1200{
      display: inline-block;
    }
  }

  .footer{
    @include flex-column-center;

    &__header{
      font-size: 16px;
    }

    &__article{
      line-height: 28px;

      font-size: 16px;
      width: 684px;

      &_768_1200{
        display: inline-block;
        width: fit-content;
      }
    }

    &__contacts {
      margin-top: 34px;
      font-size: 16px;
      line-height: 26px;
      width: fit-content;

      &_pseudo{
        margin: 0 40px;
      }

      &_pseudo::after {
        right: 165px;
        top: 5px;
        box-shadow: -188px 89px #7C7C7C;
      }
    }
  }
}

