body {
  font-family: 'Roboto', sans-serif;
}

.main-nav {
  height: 84px;
  @include flex-center;
  align-items: center;

  &__list{
    display: none;
  }

  &__links {
    color: $main-text-color;
    font-size: 14px;
    text-transform: uppercase;

    &_mr_r {
      margin-right: 68px;
    }
  }


  &__links:hover {
    color: #57A4A4;
  }
}

.burger-menu {
  display: block;
  position: relative;
  width: 44px;
  height: 38px;
  margin-left: auto;
  background-color: black;

  &__lines,
  &__lines::after,
  &__lines::before {
    position: absolute;
    width: 18px;
    height: 2.5px;
    background-color: white;
  }

  &__lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__lines::before {
    content: '';
    top: -6px;
  }

  &__lines::after {
    content: '';
    top: 6px;
  }

  &__button:hover &__lines {
    filter: brightness(0.7);
  }

  &_active &__lines {
    background-color: transparent;
  }

  &_active &__lines::before {
    top: 0;
    transform: rotate(45deg);
  }

  &_active &__lines::after {
    top: 0;
    transform: rotate(-45deg);
  }

  &__nav {
    display: none;
    position: absolute;
    right: 0;
    box-sizing: border-box;
    width: 182px;
    top: 38px;
    background: #F5F5F5;
    &_active_display {
      display: flex;
      flex-direction: column;
    }
  }

  &__link {
    padding: 4px 0 4px 15px;
    color: $main-text-color;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
  }

  &__link:hover {
    color: #57A4A4;
  }

}