body{
    font-family: "Arimo", sans-serif;
    color: #484848;
}

.pricing-table{
    border-collapse: collapse;
    border: 25px solid #3A4965;;
    margin: 200px auto 0;
}

tr:nth-of-type(even){
    background-color: #E3E3E3;
}

.white-background{
    background-color: white;
}

.table-row{
    height: 72px;
    border: 2px solid lightgray;
}

.pricing-table-data{
    width: 280px;
    border: 2px solid lightgray;
}

.price-choice{
    text-transform: uppercase;
    font-size: 30px;
}

.font-size{
    font-size: 18px;
}

.pricing-table-header{
    height: 72px;
    color: white;
    text-transform: uppercase;
    width: 280px;
}

.background-green{
    background-color:  #89C331;;
}

.background-red{
    background-color: #F04A56;
}

.background-blue{
    background-color: #20807C;;
}

.price-banknotes{
    font-size: 60px;
}

.price-coins{
    display: block;
    font-size: 24px;
}

.price-frequency{
    font-size: 18px;
}

.pricing-title-wrapper {
    text-align: center;
}

.price-wrapper{
    position: relative;
    margin-left: 35px ;
}

.price-description-wrapper{
    position: absolute;
    top: -5px;
    left: 100px;
}

.table-icon{
    text-align: center;
}

.option-raw{
    text-transform: uppercase;
}

.pricing-table-data-storage{
    text-transform: uppercase;
    text-align: center;
    border: 2px solid lightgray;
}

.pricing-table-data-bandwidth{
    text-transform: uppercase;
    text-align: center;
    border: 2px solid lightgray;
}

.pricing-table-data-email{
    text-transform: uppercase;
    text-align: center;
    border: 2px solid lightgray;
}

.pricing-table-data-buttons{
    height: 100px;
    border: 2px solid lightgray;
}

.contact-button{
    text-decoration: none;
    display: inline-block;
    background-color: #484848;
    color: white;
    text-transform: uppercase;
    padding: 15px 30px 11px 32px;
    border-radius: 7px;
}

.purchase-button-standard{
    text-decoration: none;

    display: inline-block;
    margin-left: 60px;
    background-color: #89C331;;
    color: white;
    text-transform: uppercase;
    padding: 15px 42px 11px 43px;
    border-radius: 7px;
}

.purchase-button-ultimate{
    text-decoration: none;

    display: inline-block;
    margin-left: 60px;
    background-color: #F04A56;
    color: white;
    text-transform: uppercase;
    padding: 15px 42px 11px 43px;
    border-radius: 7px;
}

.purchase-button-premium{
    text-decoration: none;

    display: inline-block;
    margin-left: 60px;
    background-color: #20807C;
    color: white;
    text-transform: uppercase;
    padding: 15px 42px 11px 43px;
    border-radius: 7px;
}