@import "./normalize";
@import "./mixins";
@import "./variables";

.cards-container {
  @include flex-centre;
  flex-wrap: wrap;
  margin: auto;
  width: 1040px;
}

.card {
  margin: 20px;
  display: inline-block;
  border: 2px solid black;
  width: 220px;
  text-align: center;
  padding: 10px 25px;
  box-sizing: border-box;
  position: relative;

  &__star-container {
    display: flex;
    position: absolute;
    top: 3px;
    right: 3px;
  }

  &__star {
    display: none;

    &_active {
      fill: black;
    }
  }

  &__img {
    display: block;
    margin: auto;
    height: 150px;
    object-fit: cover;
  }

  &__name {
    font-size: 20px;
    margin: 10px 0;
  }

  &__color {
    margin-right: 25px;
    position: relative;

    &::after {
      content: "";
      width: 1px;
      height: 14px;
      background-color: black;
      position: absolute;
      top: 2px;
      right: -12px;
      transform: rotate(30deg);
    }
  }

  &__price-and-btn-wrapper {
    @include flex-centre;
    margin-top: 10px;
  }

  &__price {
    font-size: 16px;
    font-weight: 700;
  }
}

.btn {
  display: block;
  width: 76px;
  height: 26px;
  color: white;
  font-size: 14px;
  background-color: white;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  margin: 10px auto 0;
}

.dark-screen-container {
  @include flex-centre;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.modal {
  padding: 0 0 30px;
  box-sizing: $independent-width;
  width: 560px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  color: black;
  text-align: center;
  line-height: 2;
  position: relative;

  &__header-section-text {
    margin: 0;
    font-size: 18px;
    border-bottom: 2px solid;

    text-align: left;
    padding: 10px 30px;
  }

  &__main-part-text {
    width: 510px;
    margin: 15px auto;
  }

  &__main-part-btns {
    margin: 0 auto;
    width: fit-content;
  }

  &__main-part-btn {
    color: black;
    border: 2px solid black;
    width: 90px;
    height: 35px;
    text-align: center;
    box-sizing: border-box;
    font-weight: 700;
    margin-right: 10px;
    border-radius: 10px;
  }

  &__cross {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 15px;
    right: 10px;

    &_card {
      left: 3px;
      top: 3px;
    }
  }

  &__cross::after,
  &__cross::before {
    content: "";
    display: block;
    width: 25px;
    height: 1.5px;
    background-color: black;
    position: absolute;
    top: 10px;
    right: 0;
    transform: rotate(45deg) translateY(-50%);
  }

  &__cross_card::after,
  &__cross_card::before {
    width: 21px;
  }

  &__cross::before {
    transform: rotate(-45deg) translateY(-50%);
  }
}

.header-menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: gainsboro;
  padding: 20px 0;

  &__link {
    text-decoration: none;
    color: #8f8f8f;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.5s ease-in-out;
    position: relative;
    text-transform: uppercase;

    &::before {
      content: attr(data-item);
      transition: 0.5s;
      color: #404040;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 0;
      overflow: hidden;
    }

    &:hover {
      &::before {
        width: 100%;
        transition: all 0.5s ease-in-out;
      }
    }

    &_selected {
      color: black;
    }
  }
}

.checkout-btn-container {
  display: flex;
  justify-content: center;
}

.checkout-btn {
  width: 250px;
  height: 36px;
  background-color: black;
  color: white;
  border-radius: 6px;
  border: none;
  position: relative;
  padding: 0;

  &::after {
    content: "";
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    position: absolute;
    top: 14px;
    right: 14px;
  }
}

.form {
  width: 400px;
  padding: 40px;
  margin: auto;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  background-color: white;

  &__header {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  &__div_inp {
    margin-top: 30px;
  }

  &__inp {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    color: black;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
  }

  &__error {
    font-size: 12px;
    color: red;
  }

  &__btn {
    margin-top: 50px;
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    background-color: white;
    border: 1px solid black;
  }
}
