.container {
  width: 60%;
  margin: 0 auto;
}

.todo-list__item{
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px 15px; 
  margin: 1px 0;
}

/* .todo-list__item{
  background-color: green;
} */

