@import "./normalize";
@import "./mixins";
@import "./variables";

.cards-container {
  @include flex-centre;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1240px;
}

.card {
  margin: 20px;
  display: inline-block;
  border: 2px solid black;
  width: 220px;
  text-align: center;
  padding: 10px 25px;
  box-sizing: border-box;
  position: relative;

  &__star-container {
    display: flex;
    position: absolute;
    top: 3px;
    right: 3px;
  }

  &__star {
    display: none;

    &_active {
      fill: black;
    }
  }

  &__img {
    display: block;
    margin: auto;
    // height: 150px;
    width: auto;
    object-fit: cover;
  }

  &__name {
    font-size: 20px;
    margin: 10px 0;
  }

  &__color {
    margin-right: 25px;
    position: relative;

    &::after {
      content: "";
      width: 1px;
      height: 14px;
      background-color: black;
      position: absolute;
      top: 2px;
      right: -12px;
      transform: rotate(30deg);
    }
  }

  &__price-and-btn-wrapper {
    @include flex-centre;
    margin-top: 10px;
  }

  &__price {
    font-size: 16px;
    font-weight: 700;
  }
}

.btn {
  display: block;
  width: 80px;
  height: 26px;
  color: white;
  font-size: 14px;
  background-color: white;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  margin: 10px auto 0;
}

.dark-screen-container {
  @include flex-centre;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.modal {
  padding: 0 0 30px;
  box-sizing: $independent-width;
  max-width: 560px;
  width: 90%;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  color: black;
  text-align: center;
  line-height: 2;
  position: relative;

  &__header-section{

    border-radius: 8px;
  }


  &__header-section-text {
    margin: 0;
    font-size: 18px;
    border-bottom: 2px solid;
    text-align: left;
    padding: 10px 30px;
  }


  @media (max-width: 480px) {
    &__header-section-text {
      font-size: 16px;
    } 
  }

  &__main-part {
    padding: 0 25px;
  }

  @media (max-width: 480px) {
    &__main-part {
      padding: 0 15px;
    } 
  }

  &__main-part-text {
    max-width: 510px;
    margin: 15px auto;
  }

  @media (max-width: 480px) {
    &__main-part-text {
      font-size: 14px;
      margin-bottom: 8px;
    } 
  }

  &__main-part-btns {
    margin: 0 auto;
    width: fit-content;
  }

  &__main-part-btn {
    color: black;
    border: 2px solid black;
    width: 90px;
    height: 35px;
    text-align: center;
    box-sizing: border-box;
    font-weight: 700;
    margin-right: 10px;
    border-radius: 10px;
  }


  @media (max-width: 480px) {
    &__main-part-btn {
      width: 72px;
      height: 28px;
      font-size: 14px;
    } 
  }

  &__cross {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 15px;
    right: 10px;

    &_card {
      left: 3px;
      top: 3px;
    }

    &_i-modal{
      right: 25px;
      top: 10px;
    }
  }

  &__cross::after,
  &__cross::before {
    content: "";
    display: block;
    width: 20px;
    height: 1.5px;
    background-color: black;
    position: absolute;
    top: 10px;
    right: 0;
    transform: rotate(45deg) translateY(-50%);
  }

  &__cross_card::after,
  &__cross_card::before {
    width: 21px;
  }

  &__cross::before {
    transform: rotate(-45deg) translateY(-50%);
  }

}
.i-modal {
  position: sticky;
  bottom: 20px;
  &__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0 / 90%);
    padding: 20px 15px;
    background: white;
    margin: 0 auto;
  }

  @media (max-width: 480px) {
    width: 85%;
  }

  &__image{
    margin-top: -40px;
  }

  &__header{
    margin: 10px 0 0;
  }
  

  &__text{
    text-align: center;
  }

  &__actios-wrapper{
    flex-direction: column;
  }

  &__actios-wrapper,
  &__actios-wrapper div{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__actios-wrapper div:first-child{
    margin-bottom: 2.5px;
  }

  &__icon{
    width: 20px;
    margin-left: 5px;
  }

}
.header-menu {
  background: black;

  &__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 20px 0;
    max-width: 1600px;
    margin: 0 auto;
    

    &__link {
      text-decoration: none;
      color: #8f8f8f;
      font-size: 20px;
      font-weight: 500;
      transition: all 0.5s ease-in-out;
      position: relative;
      text-transform: uppercase;

      &::before {
        content: attr(data-item);
        transition: 0.5s;
        color: white;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 0;
        overflow: hidden;
      }

      &:hover {
        &::before {
          width: 100%;
          transition: all 0.5s ease-in-out;
        }
      }

      &_selected {
        color: white;
      }
    }
    @media (max-width: 480px) {
    &__link {

      font-size: 16px;
    }
  }
  }
}

.checkout-btn-container {
  display: flex;
  justify-content: center;
}

.checkout-btn {
  width: 250px;
  height: 36px;
  background-color: black;
  color: white;
  border-radius: 6px;
  border: none;
  position: relative;
  padding: 0;

  &::after {
    content: "";
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    position: absolute;
    top: 14px;
    right: 14px;
  }
}
.push-notifications_btn{
  width: 200px;
  height: 50px;
  background-color: transparent;
  border: 1px solid;
  border-radius: 8px;
  color: black;
  text-align: center;
  padding: 0 10px;
  box-sizing: border-box;
  display: block;
  margin: 20px auto;
}
.form {
  max-width: 450px;
  width: 90%;
  padding: 25px 40px 30px;
  position: relative;
  margin: auto;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  background-color: white;

  &__div_inp {
    margin-top: 30px;
  }


  &__header {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  @media(max-width: 480px){
    &__header {
      font-size: 20px;
    } 
    
    &__div_inp {
      margin-top: 25px;
    }
  }

  &__inp {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    color: black;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
  }

  &__error {
    font-size: 12px;
    color: red;
  }

  &__btn {
    margin-top: 50px;
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    background-color: white;
    border: 1px solid black;
  }
}

@media(max-width: 480px){
  .form {
    padding: 15px 30px 20px;
  }
}