/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

body {
  font-family: 'Roboto', sans-serif; }

.main-nav {
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .main-nav__list {
    display: none; }
  .main-nav__links {
    color: #4e4e4e;
    font-size: 14px;
    text-transform: uppercase; }
    .main-nav__links_mr_r {
      margin-right: 68px; }
  .main-nav__links:hover {
    color: #57A4A4; }

.burger-menu {
  display: none;
  position: relative;
  width: 44px;
  height: 38px;
  margin-left: auto;
  background-color: black; }
  .burger-menu__lines, .burger-menu__lines::after, .burger-menu__lines::before {
    position: absolute;
    width: 18px;
    height: 2.5px;
    background-color: white; }
  .burger-menu__lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .burger-menu__lines::before {
    content: '';
    top: -6px; }
  .burger-menu__lines::after {
    content: '';
    top: 6px; }
  .burger-menu__button:hover .burger-menu__lines {
    filter: brightness(0.7); }
  .burger-menu_active .burger-menu__lines {
    background-color: transparent; }
  .burger-menu_active .burger-menu__lines::before {
    top: 0;
    transform: rotate(45deg); }
  .burger-menu_active .burger-menu__lines::after {
    top: 0;
    transform: rotate(-45deg); }
  .burger-menu__nav {
    display: none;
    position: absolute;
    right: 0;
    box-sizing: border-box;
    width: 182px;
    top: 38px;
    background: #F5F5F5; }
    .burger-menu__nav_active_display {
      display: flex;
      flex-direction: column; }
  .burger-menu__link {
    padding: 4px 0 4px 15px;
    color: #4e4e4e;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase; }
  .burger-menu__link:hover {
    color: #57A4A4; }

.main-container {
  margin: auto;
  display: none; }
  .main-container__home-image {
    display: none;
    margin: auto; }
  .main-container__posts-header {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #4e4e4e;
    margin-top: 38px; }

.posts-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 24px; }
  .posts-container__content_mr_b {
    margin-bottom: 26px; }
  .posts-container__content_mr_b_instagram {
    margin-bottom: 26px; }
  .posts-container__header {
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: #4e4e4e; }
  .posts-container__additional-text {
    font-weight: normal;
    font-size: 11px;
    line-height: 20px;
    align-items: center;
    color: #7C7C7C;
    position: relative; }
    .posts-container__additional-text_pseudo {
      margin-right: 12px; }
  .posts-container__additional-text_pseudo::after {
    content: '';
    display: inline-block;
    height: 12px;
    width: 1px;
    background-color: #7C7C7C;
    transform: rotate(25deg);
    position: absolute;
    top: 1px;
    right: -8px; }
  .posts-container__article {
    display: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: #5C5C5C; }

.instagram-wrapper {
  margin: auto;
  display: none;
  padding: 48px 0; }
  .instagram-wrapper__text {
    font-size: 13px;
    margin-bottom: 13px;
    display: flex;
    justify-content: space-between; }
  .instagram-wrapper__header {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #4e4e4e; }
  .instagram-wrapper__photos {
    width: 301px;
    height: 301px; }
  .instagram-wrapper__photos_mr_l {
    display: none;
    margin-left: 10px; }

.footer {
  display: none;
  padding: 47px 0;
  background-color: black; }
  .footer__header {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #FEFEFE; }
  .footer__article {
    text-align: center;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #B9B9B9;
    width: 302px; }
    .footer__article_768_1200 {
      display: none; }
  .footer__icons-container {
    display: flex;
    justify-content: center;
    margin-top: 25px; }
  .footer__link {
    margin-right: 6px;
    padding: 8px 13px;
    border: 2px solid;
    border-radius: 50%; }
    .footer__link_rss {
      border-color: #F8902E; }
    .footer__link_facebook {
      border-color: #39599F; }
    .footer__link_twitter {
      border-color: #45B0E3; }
    .footer__link_dribble {
      border-color: #D97AB0; }
    .footer__link_pinterest {
      border-color: #CC212C;
      margin-right: 0; }
  .footer__contacts {
    text-align: center;
    position: relative;
    font-weight: normal;
    color: #B9B9B9;
    font-size: 14px;
    line-height: 24px;
    width: 202px;
    margin-top: 25px; }
    .footer__contacts_pseudo::after {
      content: '';
      display: inline-block;
      height: 14px;
      width: 2px;
      background-color: #7C7C7C;
      transform: rotate(25deg);
      position: absolute;
      right: 16px;
      top: 28px; }

@media screen and (min-width: 1200px) and (max-width: 1200px) {
  body {
    width: 1200px; }
  .main-nav {
    height: 118px; }
    .main-nav__list {
      display: block; }
  .main-container {
    width: 1170px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column; }
    .main-container__home-image {
      display: block;
      width: 1170px; }
    .main-container__posts-header {
      margin-top: 66px; }
  .posts-container {
    width: 1176px;
    justify-content: flex-start; }
    .posts-container__content {
      display: flex; }
    .posts-container__whole-text-wrapper {
      margin-left: 20px;
      display: inline-block; }
    .posts-container__header {
      display: block; }
    .posts-container__article {
      width: 404px;
      display: block; }
    .posts-container__content_mr_b_instagram {
      margin-bottom: 32px; }
  .instagram-background-color {
    background-color: rgba(0, 0, 0, 0.1); }
  .instagram-wrapper {
    width: 1170px;
    display: block; }
    .instagram-wrapper__header {
      font-size: 16px; }
    .instagram-wrapper__text {
      margin-bottom: 24px; }
    .instagram-wrapper__photos {
      width: 282px;
      height: 282px; }
    .instagram-wrapper__photos__720, .instagram-wrapper__photos__720__1200 {
      display: inline-block; }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .footer__header {
      font-size: 16px; }
    .footer__article {
      line-height: 28px;
      font-size: 16px;
      width: 684px; }
      .footer__article_768_1200 {
        display: inline-block;
        width: fit-content; }
    .footer__contacts {
      margin-top: 34px;
      font-size: 16px;
      line-height: 26px;
      width: fit-content; }
      .footer__contacts_pseudo {
        margin: 0 40px; }
      .footer__contacts_pseudo::after {
        right: 165px;
        top: 5px;
        box-shadow: -188px 89px #7C7C7C; } }

@media (min-width: 768px) and (max-width: 768px) {
  body {
    width: 768px; }
  .main-nav {
    height: 106px; }
    .main-nav__list {
      display: block; }
    .main-nav__links_mr_r {
      margin-right: 34px; }
  .main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column; }
    .main-container__home-image {
      display: block;
      width: 768px; }
    .main-container__posts-header {
      margin-top: 56px; }
  .posts-container {
    width: 556px; }
    .posts-container__content {
      display: flex;
      align-items: flex-start; }
    .posts-container__whole-text-wrapper {
      margin-left: 20px; }
    .posts-container__header {
      display: block; }
    .posts-container__article {
      display: block; }
    .posts-container__content_mr_b_instagram {
      margin-bottom: 32px; }
  .instagram-background-color {
    background-color: rgba(0, 0, 0, 0.1); }
  .instagram-wrapper {
    display: block; }
    .instagram-wrapper__header {
      font-size: 16px; }
    .instagram-wrapper__text {
      margin-bottom: 24px; }
    .instagram-wrapper__photos {
      width: 246px;
      height: 246px; }
    .instagram-wrapper__photos__720 {
      display: inline-block; }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .footer__header {
      font-size: 16px; }
    .footer__article {
      font-size: 16px;
      line-height: 28px;
      width: 684px; }
      .footer__article_768_1200 {
        display: inline-block;
        width: fit-content; }
    .footer__contacts {
      margin-top: 34px;
      width: fit-content;
      font-size: 16px;
      line-height: 26px; }
      .footer__contacts_pseudo {
        margin: 0 40px; }
      .footer__contacts_pseudo::after {
        right: 165px;
        top: 5px;
        box-shadow: -188px 89px #7C7C7C; } }

@media (min-width: 320px) and (max-width: 320px) {
  body {
    width: 320px; }
  .burger-menu {
    display: block; }
  .main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column; }
    .main-container__home-image {
      display: block;
      width: 320px; }
  .posts-container {
    width: 233px; }
    .posts-container__header {
      display: block;
      font-size: 14px;
      margin-top: 10px; }
    .posts-container__content_mr_b_instagram {
      display: none; }
  .instagram-wrapper {
    display: block;
    padding: 38px 0 42px; }
    .instagram-wrapper__header_not_320 {
      display: none; }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .footer__contacts_pseudo::after {
      box-shadow: 14px -31px #7C7C7C; } }
