/*.caption {*/
/*    font-size: 48px;*/
/*    color: cadetblue;*/
/*}*/

/*.text {*/
/*    max-width: 450px;*/
/*    margin: 20px 0;*/
/*    padding: 0 15px;*/
/*    font-size: 14px;*/
/*    text-transform: capitalize;*/
/*    font-style: italic;*/
/*}*/

/*.box {*/
/*    width: 200px;*/
/*    height: 200px;*/
/*    border: 1px solid #000;*/
/*}*/
/*.box_red {*/
/*    background-color: red;*/
/*}*/

/*.card {*/
/*    border: 1px solid #000;*/
/*    padding: 30px;*/
/*    margin: 0 auto;*/
/*    border-radius: 10px;*/
/*    max-width: 250px;*/
/*    box-shadow: 0 0 10px rgba(0,0,0,0.7);*/
/*}*/

/*.card-name{*/
/*    font-size: 32px;*/
/*    display: block;*/
/*    text-align: center;*/
/*    font-style: italic;*/
/*}*/

/*.card-image{*/
/*    display: block;*/
/*    margin: 25px auto;*/
/*    width: 200px;*/

/*}*/

/*.card-article{*/
/*   text-align: justify;*/
/*    line-height: 1.5;*/
/*    font-style: italic;*/
/*    font-size: 16px;*/
/*}*/
.btn{
    border-radius: 10px;
}

.box{
    height: 100px;
    width: 100px;
    margin: auto;
}