@import "./utils/reset";

.events-preview{
  &__item{
    width: 100%;
    &_mr_desktop{
      @media screen and (min-width: 1024px){
        margin-right: 30px;
      }
    }
  }
  &__img{
    max-width: 100%;
  }
  &__img{
    max-width: 100%;
    @media screen and (min-width: 768px) {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
  }
  @media screen and (min-width: 1024px){
    display: flex;
    flex-basis: 100%;
  }
}

