.header {
  position: relative;

  &__container{
    display: flex;
    justify-content: flex-end;

  }

}
.burger-toggle {
  width: 44px;
  height: 37px;
  position: relative;
  background-color: #000;
  border: 0;
  overflow: hidden;
  cursor: pointer;
  &__line {
    position: absolute;
    width: 17px;
    height: 2px;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transition: all 0.2s ease;
    transform: translateX(-50%) translateY(-50%);
    &_first-child {
      transform: translateX(-50%) translateY(calc(-50% - 4px));
    }
    &_last-child {
      transform: translateX(-50%) translateY(calc(-50% + 4px));
    }
  }
  &_active {
    & .burger-toggle__line {
      transform: translateX(-150%) translateY(-50%);
      opacity: 0;
    }
    & .burger-toggle__line_first-child {
      opacity: 1;
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
    }
    & .burger-toggle__line_last-child {
      opacity: 1;
      transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    }
  }
}

.nav{
  background: #F5F5F5;
  position: absolute;
  width: 180px;
  height: 210px;
  display: flex;
  flex-direction: column;
  right: 25px;
  bottom: 0;
  transform: translateY(100%);

}