.page-container{
    width: 1200px;
    margin: 0 auto;
}

.background{
    background-image: url("../img/background 1.png");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo-contacts-wrapper{
    padding-top: 20px;
}

.logo-link:hover .logo-image{
    content: url("../img/logo 2.png");
}

.logo-link:hover .logo-text-holidays{
    color: #F26522;
}

.logo-link:hover .logo-text-milan{
    color: #F26522;
}

.logo-link{
    text-decoration: none;
    vertical-align: baseline;
}


.logo-image{
    display: inline-block;
}

.logo-text-wrapper{
    display: inline-block;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.logo-text-milan{
    text-transform: uppercase;
    font-size: 29px;
    color: white;
    display: block;
    line-height: 21px;
}


.logo-text-holidays{
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    display: block;
    line-height: 21px;
}


.contacts{
    float: right;
    vertical-align: baseline;
    text-align: right;
}

.email{
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    line-height: 21px;
    text-decoration: none;
}

.email:hover{
    color: #F26522;;
}

.telephone{
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    line-height: 21px;
    text-decoration: none;
}

.telephone:hover{
    color: #F26522;
}

.copyright{
    margin-top: 43px;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.main-image{
    display: block;
}

.picture-wrapper{
    float: left;
    text-align: center;
    margin-bottom:60px ;
    margin-right:144px ;
    color: white;
}

.pictures{
    margin-top: 20px;
}

.mr-0{
    margin-right: 0;
}

.image-name{
    display: inline-block;
    margin-top: 15px;
}

.image-name:hover{
    color: #F26522;;
}

.container{
    position: relative;
    overflow: hidden;
}


.hidden-container{
    position: absolute;
    margin-left: 2px;
    bottom: -30px;
    background-color: #F26522;
    width: 300px;
    height: 63px;
    opacity: 0;
}

.container:hover .hidden-container{
    border-right: 0;
    bottom: 0;
    display: block;
    transition: bottom 1s ease;
    opacity: 1;
}

.menu-limit-price{
    color: white;
    font-size: 12px;
    position: absolute;
    top: 8px;
    left: 21px;
}

.menu-price{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 31px;
    left: 21px;
}

.menu-details{
    font-size: 14px;
    position: absolute;
    left: 185px;
    top: 33px;
}

.menu-details::after{
    margin-left: 10px;
    content: "";
    width: 6px;
    height: 6px;
    display: inline-block;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
}

.menu-link{
    color: white;
}
.font-style{
    font-family: 'Roboto', sans-serif;
}