.price-input{
    border: 1px solid black;
    outline: none;
}

.price-input:focus{
    border-color: green;
}

.input-box{
    margin-top: 5px;
}

.price-box{
    padding: 3px 7px;
    border-radius: 15px;
    display: inline-block;
    border: 1px solid lightgray;
}

.price-text{
    vertical-align: middle;
}

.price-button{
    margin: auto;
    font-size: 10px;
    vertical-align: middle;
    padding: 0 3px;
    border: 1px solid lightgray;
    border-radius: 50%;
    background-color: white;
}

.invalid-inp{
    border-color: red;
}

.invalid-div{
    color: red;
}