/*.container{*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/

/*}*/

/*.block{*/
/*    background-color: blue;*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    !*margin: 40px;*!*/
/*}*/

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.card {
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
    padding: 10px;
    border-radius: 10px;
    background: #c6f6cf;
    margin-bottom: 10px;
    position: relative;
}

.edit-btn {
    margin: 20px auto 0;
    width: 70%;
    height: 30px;
    background-color: green;
    color: white;
}

.delete-card-btn::after, .delete-card-btn::before{
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background-color: #000;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(45deg) translateY(-50%);
}

.delete-card-btn::before {
    transform: rotate(-45deg) translateY(-50%);
}