$test-var: blue;

@import "./nav";

@mixin transform ($size) {
  transform: scale($size);
}

.test{
  background-color: $test-var;
}

.list{
  list-style: none;
  &__item{
    font-size: 24px;
    &_red{
      color: red;
    }
    &_scale{
      @include transform(2)
    }
  }
}

.btn{
  font-size: 24px;
  width: 120px;
  height: 50px;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}

.btn_green{
  @extend .btn;
  background-color: green;
}