.table{
    /*border-collapse: collapse;*/
    margin: 0 auto;
    border: 2px solid black;
    border-collapse: collapse;
}

.table-row{
    border: 2px solid black;
}

.table-data{
    border: 2px solid black;
}